@model PagedList.IPagedList<LinqModel.View_Org_UsageInfo>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <form id="form1" action="/ManageOrg_UsageInfo/Index" class="form-search" method="get">

            <div class="input-append">
                类型：
                <select id="Org_UsageType_ID" name="Org_UsageType_ID" style="width:100px;">
                    <option value="0">全部</option>
                    @{
                        try
                        {
                            foreach (var m in ViewBag.Org_UsageType as PagedList.IPagedList<LinqModel.Org_UsageType>)
                            {
                                if (m.ID == ViewBag.Org_UsageTypeCurrent)
                                {
                                <option value="@m.ID" selected>@m.TypeName</option>
                                }
                                else
                                {
                                <option value="@m.ID">@m.TypeName</option>
                                }
                            }
                        }
                        catch { }
                    }
                </select>
                &nbsp;&nbsp;
                <input class="m-wrap" type="text" id="txtSearch" name="txtSearch" value="@ViewBag.txtSearch" placeholder="名称"><input class="btn green" type="submit" value="查询" />

            </div>
        </form>
        <div class="portlet box grey">

            <div class="portlet-title">

                <div class="caption"><i class="icon-globe"></i>企业用途码管理</div>

                <div class="actions">

                    <a href="/ManageOrg_UsageInfo/Add" class="btn blue"><i class="icon-pencil"></i> 新增企业用途码</a>

                </div>

            </div>

            <div class="portlet-body">

                <table class="table  table-bordered table-hover table-full-width" id="sample_1">

                    <thead>

                        <tr>
                            <th width="10"></th>
                            <th>类型</th>
                            <th>名称</th>
                            <th class="hidden-480">码号</th>
                            <th class="hidden-480">操作</th>
                        </tr>

                    </thead>

                    <tbody>

                        @{
                            int count = 0;
                            foreach (var m in Model)
                            {
                                count++;
                                string classname = "fafafb";
                                if (count % 2 == 0)
                                { classname = "ecf3fa"; }
                                <tr onclick="RowClick(@m.ID)" id="@m.ID" style="background-color: #@classname">
                                    <td id="ext_@m.ID">+</td>
                                    <td>@m.TypeName</td>
                                    <td>@m.Name</td>
                                    <td class="hidden-480">@m.Code</td>
                                    <td class="hidden-480"><a href="/ManageOrg_UsageInfo/Info?id=@m.ID">详情</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/ManageOrg_UsageInfo/Update?id=@m.ID">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:if(confirm('确定要删除么？')){window.location.href ='/ManageOrg_UsageInfo/Del?id=@m.ID';} ">删除</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/ManageOrg_UsageAttribute/Index?infoid=@m.ID">属性管理</a></td>
                                </tr>
                                <tr style="display:none; " id="detail_@m.ID">
                                    <td colspan="10">
                                        <div style="margin-left:25px;">
                                            <span><a href="/ManageOrg_UsageInfo/Info?id=@m.ID">详情</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/ManageOrg_UsageInfo/Update?id=@m.ID">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:if(confirm('确定要删除么？')){window.location.href ='/ManageOrg_UsageInfo/Del?id=@m.ID';}">删除</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/ManageOrg_UsageAttribute/Index?infoid=@m.ID">属性管理</a></span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                当前第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，总共 @Model.PageCount 页

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, txtSearch = ViewBag.txtSearch }))

            </div>

        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<script type="text/javascript">
    function RowClick(obj) {
        var m = document.getElementById("detail_" + obj);

        if (m.style.display == "none") {
            document.getElementById("ext_" + obj).innerHTML = "-";
            m.style.display = "";
        }
        else {
            document.getElementById("ext_" + obj).innerHTML = "+";
            m.style.display = "none";
        }
    }
</script>

