@model PagedList.IPagedList<LinqModel.View_Flow_User>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <form id="form1" action="/ManageFlow_User/Index" class="form-search" method="get">

            <div class="input-append">

                <input class="m-wrap" type="text" id="txtSearch" name="txtSearch" value="@ViewBag.txtSearch"><input class="btn green" type="submit" value="检索产品" />

            </div>
        </form>


        <div class="portlet box grey">
            <div class="portlet-title">

                <div class="caption"><i class="icon-globe"></i>列表</div>

                <div class="actions">

                    <a href="/ManageFlow_User/Create" class="btn blue"><i class="icon-pencil"></i> 设置</a>

                </div>

            </div>
            <div class="portlet-body">
                <table class="table  table-bordered table-hover table-full-width" id="sample_1">
                    <thead>

                        <tr>
                            <th width="10"></th>
                            <th>
                                用户姓名
                            </th>
                            <th>
                               可操作流程名称
                            </th>
                            <th>
                                排序号
                            </th>
                            <th>
                                产品名称
                            </th>
                            
                            <th class="hidden">操作</th>
                        </tr>

                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var m in Model)
                            {
                                count++;
                                string classname = "fafafb";
                                if (count % 2 == 0)
                                { classname = "ecf3fa"; }
                                <tr onclick="RowClick(@m.ID)" id="@m.ID" style="background-color: #@classname">
                                    <td id="ext_@m.Org_Flow_ID">+</td>
                                   
                                <td >
                                    @m.UserName

                                </td>
                                   
                                   
                                 
                                <td >
                                    @m.Flow_Name
                                    
                                </td>
                                    <td >
                                        @m.Seq_No

                                    </td>
                                    <td>
                                        @m.PName

                                    </td>

                                   
                                   
                                    

                                    <td class="hidden"><a href="/ManageFlow_User/Update?id=@m.ID">修改</a>|&nbsp;&nbsp;<a href="/ManageFlow_User/Delete?id=@m.ID ">删除</a></td>
                                </tr>
                               
                            }
                        }
                    </tbody>
                </table>
                当前第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，总共 @Model.PageCount 页

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, txtSearch = ViewBag.txtSearch }))
            </div>



        </div>

    </div>
</div>



<script type="text/javascript">
    function RowClick(obj) {
        var m = document.getElementById("detail_" + obj);

        if (m.style.display == "none") {
            document.getElementById("ext_" + obj).innerHTML = "-";
            m.style.display = "";
        }
        else {
            document.getElementById("ext_" + obj).innerHTML = "+";
            m.style.display = "none";
        }
    }
</script>