@model PagedList.IPagedList<LinqModel.User>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <form id="form1" action="/ManageUsers/Index" class="form-search" method="get">

            <div class="row-details">
                机构：<select id="orgs" name="orgs" onchange="GetOrgFlow(this.value)">
                    @{
                        var listOrgs = (List<LinqModel.Organization>)ViewBag.orgs;
                        if (listOrgs != null && listOrgs.Count > 0)
                        {
                            <option value="-1">请选择</option>
                            foreach (var m in listOrgs)
                            {
                                if (m.Org_ID == ViewBag.orgsValue)
                                {
                                    <option value="@m.Org_ID" selected="selected">@m.Name</option>
                                }
                                else
                                {
                                    <option value="@m.Org_ID">@m.Name</option>
                                }

                            }
                        }
                    }
                </select>

                &nbsp;&nbsp;角色：<select id="roles" name="roles" onchange="GetSearchPoint(this.value)">
                    @{
                        var listRoles = (List<LinqModel.Roles>)ViewBag.roles;
                        if (listRoles != null && listRoles.Count > 0)
                        {
                            <option value="-1">请选择</option>
                            foreach (var m in listRoles)
                            {
                                if (m.RoleId == ViewBag.rolesValue)
                                {
                                    <option value="@m.RoleId" selected="selected">@m.RoleName</option>
                                }
                                else
                                {
                                    <option value="@m.RoleId">@m.RoleName</option>
                                }
                            }
                        }
                    }
                </select>
                &nbsp;&nbsp;用户名：
                <input class="m-wrap" type="text" id="txtUserNameSearch" name="txtUserNameSearch" value="@ViewBag.txtUserNameSearch">
                <input class="btn green" type="submit" value="检索" />

            </div>
        </form>


        <div class="portlet box grey">
            <div class="portlet-title">

                <div class="caption"><i class="icon-globe"></i>用户列表</div>

                <div class="actions">
                    @{
                        if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 5 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 2 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 1)//系统管理员、实施人员
                        {
                            @*<a href="/ManageUsers/Create" class="btn blue"><i class="icon-pencil"></i> 新增用户</a>*@
                        }
                    }
                  
                  
                  

                </div>

            </div>
            <div class="portlet-body">
                <table class="table  table-bordered table-hover table-full-width" id="sample_1">
                    <thead>

                        <tr>
                            <th width="10"></th>
                            <th>
                                机构
                            </th>
                            @*<th>
                                用户类型
                            </th>*@
                            <th>
                                用户角色
                            </th>
                            <th>
                                用户名
                            </th>
                           
                           
                            <th class="hidden">
                                名片码
                            </th>

                            @{
                                if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 5 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 2|| (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 1)//系统管理员、实施人员
                                {
                                    <th>操作</th>
                                }
                                else
                                {
                                    <th >操作</th>
                                }
}
                           
                        </tr>

                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var m in Model)
                            {
                                count++;
                                string classname = "fafafb";
                                if (count % 2 == 0)
                                { classname = "ecf3fa"; }
                                <tr onclick="RowClick(@m.ID)" id="@m.ID" style="background-color: #@classname">
                                    <td id="ext_@m.ID">+</td>
                                    @{ if (@m.Org_ID == 0)
                                     {
                                        <td> 无上级 </td>
                                     }
                                     else
                                     {
                                         LinqModel.Organization shi1 = new DAL.Organization().GetModel(Convert.ToInt32(@m.Org_ID));

                                        <td> @shi1.Name </td>
                                     }


                                    }
                                    @*@{
                                string sss = "未知用户";
                                if(m.Type=='1')
                                {
                                    sss = "政府用户";
                                }
                                if (m.Type == '2')
                                {
                                    sss = "企业/组织";
                                }
                                if (m.Type == '3')
                                {
                                    sss = "消费者";
                                }
                                if (m.Type == '4')
                                {
                                    sss = "系统用户";
                                    
                                }
                                <td>@sss</td>
                                    }*@
                                
                                    @{ LinqModel.Roles shi2 = new DAL.Role().GetModel(Convert.ToInt32(@m.Role_ID));

                                    <td> @shi2.RoleName </td>
                                    }

                                    <td>@m.UserName</td>
                                    
                                    
                                    <td class="hidden">@m.User_Code</td>

                                    @{
                                if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 5 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 2 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 1)//系统管理员、实施人员
                                {
                                    <td ><a href="/ManageUsers/Edit?id=@m.ID">修改</a>&nbsp;&nbsp;|<a href="/ManageUsers/Details?id=@m.ID ">详情</a>@*|&nbsp;&nbsp;<a href="/ManageUsers/Delete?id=@m.ID ">删除</a>*@</td>

                                }
                                else
                                {

                                  
                                    <td ><a href="/ManageUsers/Edit?id=@m.ID">修改</a>&nbsp;&nbsp;|<a href="/ManageUsers/Details?id=@m.ID ">详情</a></td>

                                }
}
                                    </tr>
                                <tr style="display:none; " id="detail_@m.ID">
                                    <td colspan="7">
                                        <div style="margin-left:25px;">
                                           </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                当前第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，总共 @Model.PageCount 页

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, txtSearch = ViewBag.txtSearch }))
            </div>



        </div>

    </div>
</div>



<script type="text/javascript">
    function RowClick(obj) {
        var m = document.getElementById("detail_" + obj);

        if (m.style.display == "none") {
            document.getElementById("ext_" + obj).innerHTML = "-";
            m.style.display = "";
        }
        else {
            document.getElementById("ext_" + obj).innerHTML = "+";
            m.style.display = "none";
        }
    }
</script>
