@model LinqModel.RegisterCheck
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_LayoutPageResgister.cshtml";
}


<script src="../../Scripts/swfobject.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.uploadify.v2.1.4.js" type="text/javascript"></script>
<link href="../../Content/uploadify.css" rel="stylesheet" type="text/css" />
<script src="../../Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>

<script language="javascript" src="../../Scripts/uploadPreview.js"></script>
<script src="../../Scripts/YZ.js" type="text/javascript"></script>


<form id="form" name="form" action="/Register/Register" enctype="multipart/form-data" method="post">
    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN SAMPLE FORM PORTLET-->

            <div class="portlet box grey tabbable">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="icon-reorder"></i>

                        <span class="hidden-480">企业机构注册</span>

                    </div>

                </div>

                <div class="portlet-body form">

                    <div class="tabbable portlet-tabs">

                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#portlet_tab1" data-toggle="tab">机构信息</a></li>

                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab1">

                                <!-- BEGIN FORM-->
                                @Html.AntiForgeryToken()


                                <div class="alert alert-error hide">

                                    <button class="close" data-dismiss="alert"></button>



                                </div>
                                @Html.ValidationSummary(true)
                                <div class="control-group">

                                    @Html.LabelFor(model => model.OrgName, "机构名称：", htmlAttributes: new { @class = "control-label col-md-2" })


                                    <div class="controls">


                                        @Html.EditorFor(model => model.OrgName, new { @nValidate = "{required:true,messages:{required:'机构名称不能为空'}}" })
                                        @Html.ValidationMessage("Name", new { @style = "color: #f70e0e;" })


                                        <span class="help-inline"></span>

                                    </div>

                                </div>

                                <div class="control-group ">
                                    <input type="hidden" id="shengID" name="shengID" />
                                    <input type="hidden" id="shiID" name="shiID" />
                                    <input type="hidden" id="ZIPID" name="ZIPID" />
                                    <input type="hidden" id="LSH" name="LSH" value="@ViewBag.ZIP" />
                                    <input type="hidden" id="qz" name="qz" value="@ViewBag.QZ" />
                                    <input type="hidden" id="fgf" name="fgf" value="@ViewBag.FGF" />
                                    <label class="control-label">省份:</label>
                                    <select class="medium m-wrap" tabindex="1" name="Province" id="Province" onchange="GetAddressShi(this.value)">

                                        <option value="*">---请选择省份---</option>
                                        @{
                                                var mdata = ViewBag.selectlist;
                                                foreach (LinqModel.AdministrationRegion mm in mdata)
                                                {

                                                    <option value="@mm.ID">@mm.Province</option>


                                                }

                                        }


                                    </select>
                                    @Html.ValidationMessage("Province", new { @style = "color: #f70e0e;" })



                                </div>
                                <div id="shijidiv1" class="control-group">


                                    <div class="controls">
                                        <div id="shijidiv" class="editor-field">
                                            <label class="control-label">市:</label>
                                            <select class="medium m-wrap" tabindex="1" name="City" id="City" onchange="GetXian(this.value)">
                                                <option value="*">---请选择---</option>
                                            </select>
                                        </div>
                                        @Html.ValidationMessage("City", new { @style = "color: #f70e0e;" })
                                    </div>



                                </div>
                                <div id="xianjidiv1" class="control-group">


                                    <div class="controls">
                                        <div id="xianjidiv" class="editor-field">
                                            <label class="control-label">区县:</label>
                                            <select class="medium m-wrap" tabindex="1" name="District" id="District" onchange="GetZIP(this.value)">
                                                <option value="*">---请选择---</option>
                                            </select>
                                        </div>
                                        @Html.ValidationMessage("District", new { @style = "color: #f70e0e;" })

                                    </div>



                                </div>


                                <div class="control-group">

                                    @Html.LabelFor(model => model.Address, "地址：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.EditorFor(model => model.Address)


                                        <span class="help-inline"></span>

                                    </div>

                                </div>
                                <div class="control-group">



                                    @Html.LabelFor(model => model.Contact, "联系人：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.EditorFor(model => model.Contact)

                                        <span class="help-inline"></span>

                                    </div>

                                </div>
                                <div class="control-group">



                                    @Html.LabelFor(model => model.Tel, "电话：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.EditorFor(model => model.Tel, new { @nValidate = "{rangelength:[11,12]}" })

                                        <span class="help-inline"></span>

                                    </div>

                                </div>
                                <div class="control-group">



                                    @Html.LabelFor(model => model.Email, "邮件：", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <span id="spinfo"></span><br />
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Email, new { @nValidate = "{required:true,email:true,messages:{email:'请输入正确邮件格式且不能为空'}}" })

                                    </div>

                                </div>
                                <div class="control-group">

                                    <div class="controls">

                                        <input id="Org_URL" name="Org_URL" type="text" class="uneditable-input hidden" readonly="readonly" value="0" />
                                    </div>

                                </div>

                                <div class="control-group">



                                    @Html.LabelFor(model => model.Intro, "简介：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        <textarea id="Intro" name="Intro"></textarea>
                                        @Html.ValidationMessage("Intro", new { @style = "color: #f70e0e;" })


                                        <script type="text/javascript">
                                                var editor = CKEDITOR.replace('Intro');
                                                CKFinder.SetupCKEditor(editor, '/ckfinder/');

                                        </script>


                                    </div>

                                </div>
                                <div class="control-group">


                                    @Html.LabelFor(model => model.Brand, "品牌：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.EditorFor(model => model.Brand)

                                        <span class="help-inline"></span>

                                    </div>

                                </div>

                                <div class="control-group">


                                    @Html.LabelFor(model => model.Cert, "LOGO图片：", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div id="div_img"></div>

                                    <div>

                                        <div class="hidden">
                                            <img id="cert" width="300" height="200" />
                                        </div>
                                        <div class="controls">
                                            <input type="file" id="Cert" name="Cert" class="btn btn-file" />
                                            <div style="font-size:20px;margin-top:3px;text-align:center;font-weight:bold;"></div>
                                            @* <input type="text" readonly="readonly" class="m-wrap small form-control" id="Cert" name="Cert" value="" />*@
                                        </div>
                                        @*<div class="col-md-4">
                                                <input type="button" class="btn btn-default" value=" 选择 " onclick="BrowseServer('Cert'); " />
                    <input type="button" class="btn btn-default" value=" 预览 " onclick=" Yulan('stuPic');" />
                                            </div>*@
                                    </div>


                                </div>

                                <div class="control-group">


                                    @Html.LabelFor(model => model.BusiLice, "营业执照：", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div id="div_img"></div>

                                    <div>

                                        <div class="hidden">
                                            <img id="busiLice" width="300" height="200" />
                                        </div>
                                        <div class="controls">

                                            <input type="file" id="BusiLice" name="BusiLice" class="btn btn-file" />
                                            <div style="font-size:20px;margin-top:3px;text-align:center;font-weight:bold;"></div>

                                        </div>
                                        @*<div class="col-md-4">
                        @*<input type="button" class="btn btn-default" value=" 预览 " onclick=" Yulan('busiLice');" />
                    </div>*@
                                    </div>

                                </div>
                                <div class="control-group">


                                    @Html.LabelFor(model => model.OrgCodeCard, "机构代码证：", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div id="div_img"></div>

                                    <div>

                                        <div class="hidden">
                                            <img id="orgCodeCard" width="300" height="200" />
                                        </div>
                                        <div class="controls">
                                            <input type="file" id="OrgCodeCard" name="OrgCodeCard" class="btn btn-file" />
                                            <div style="font-size:20px;margin-top:3px;text-align:center;font-weight:bold;"></div>
                                            @* <input type="text" readonly="readonly" class="m-wrap small form-control" id="OrgCodeCard" name="OrgCodeCard" value="" />*@
                                        </div>
                                        @*<div class="col-md-4">
                                                <input type="button" class="btn btn-default" value=" 选择 " onclick="BrowseServer('OrgCodeCard'); " />
                    <input type="button" class="btn btn-default" value=" 预览 " onclick=" Yulan('orgCodeCard');" />
                                            </div>*@
                                    </div>


                                </div>

                                <div class="control-group">



                                    @Html.Label("编码方案：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.DropDownList("BMFA", ViewData["BMFA"] as SelectList, "--请选择--", new { @class = "my-select-css-class", @onchange = "Huoqubm(this.value)" })

                                        @Html.ValidationMessage("BMFA", new { @style = "color: #f70e0e;" })




                                        <span class="help-inline"></span>

                                    </div>

                                </div>
                                <div class="control-group">



                                    @Html.Label("行业分类：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.DropDownList("Category", ViewData["Categories"] as SelectList, "--请选择--", new { @class = "my-select-css-class", @onchange = "Shengcheng(this.value)" })

                                        @Html.ValidationMessage("Category", new { @style = "color: #f70e0e;" })




                                        <span class="help-inline"></span>

                                    </div>

                                </div>

                                <div class="control-group hidden">


                                    @Html.LabelFor(model => model.Org_Code, "机构编码：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        <input id="Org_Code" name="Org_Code" type="text" readonly="readonly" class="uneditable-textarea" value="" />
                                        @*@Html.EditorFor(model => model.Org_Code)*@
                                        @Html.ValidationMessageFor(model => model.Org_Code) <span class="help-inline"></span>

                                    </div>

                                </div>


                                <!-- END FORM-->

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- END SAMPLE FORM PORTLET-->

        </div>

    </div>
    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN SAMPLE FORM PORTLET-->

            <div class="portlet box grey tabbable">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="icon-reorder"></i>

                        <span class="hidden-480">用户注册</span>

                    </div>

                </div>

                <div class="portlet-body form">

                    <div class="tabbable portlet-tabs">

                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#portlet_tab1" data-toggle="tab">用户信息</a></li>

                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab1">

                                <!-- BEGIN FORM-->



                                <div class="alert alert-error hide">

                                    <button class="close" data-dismiss="alert"></button>



                                </div>
                                <div class="control-group">

                                    @Html.LabelFor(model => model.UserName, "用户名：", htmlAttributes: new { @class = "control-label col-md-2" })


                                    <div class="controls">


                                        @Html.EditorFor(model => model.UserName, new { @nValidate = "{required:true,messages:{required:'用户名称不能为空'}}" })
                                        @Html.ValidationMessage("Name", new { @style = "color: #f70e0e;" })


                                        <span class="help-inline"></span>

                                    </div>

                                </div>




                                <div class="control-group">

                                    @Html.LabelFor(model => model.UserPwd, "密码：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        @Html.PasswordFor(model => model.UserPwd)


                                        <span class="help-inline"></span>

                                    </div>

                                </div>
                                <div class="control-group">

                                    @Html.LabelFor(model => model.UserPwd, "确认密码：", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="controls">
                                        <input type="password" id="UserRePwd" name="userRePwd" value="" />

                                        <span class="help-inline"></span>

                                    </div>

                                </div>







                                <!-- END FORM-->

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- END SAMPLE FORM PORTLET-->

        </div>

    </div>


    <div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" onclick="return CheckEntity();" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    function CheckEntity() {

        if ($("#OrgName").val() == "") {
            alert("请输入机构名称！");
            return false;
        } else if ($("#Province").val() == "*") {
            alert("请选择省份！");
            return false;
        } else if ($("#City").val() == "*") {
            alert("请选择城市！");
            return false;
        } else if ($("#District").val() == "*") {
            alert("请选择县区！");
            return false;
        } else if ($("#Address").val() == "") {
            alert("请输入详细地址！");
            return false;
        } else if ($("#Contact").val() == "") {
            alert("请输入联系人名称！");
            return false;
        } else if ($("#Tel").val() == "") {
            alert("请输入联系电话！");
            return false;
        } else if (/((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/.test($("#Tel").val()) == false) {
            alert("联系电话格式不正确！");
        } else if ($("#Email").val() == "") {
            alert("请输入电子邮箱！");
            return false;
        } else if (/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test($("#Email").val()) == false) {
            alert("邮箱格式不正确！");
            return false;
        } else if ($("#Brand").val() == "") {
            alert("请输入品牌！");
            return false;
        } else if ($("#Cert").val() == "") {
            alert("请上传LOGO图片！");
            return false;
        } else if (!CheckImgFormat($("#Cert").val())) {
            alert("LOGO图片格式不正确，只支持jpg、bmp、gif、png格式的图片！");
            return false;
        }else if ($("#BusiLice").val() == "") {
            alert("请上传营业执照照片！");
            return false;
        } else if (!CheckImgFormat($("#BusiLice").val())) {
            alert("营业执照照片格式不正确，只支持jpg、bmp、gif、png格式的图片！");
            return false;
        } else if ($("#OrgCodeCard").val() == "") {
            alert("请上传机构代码证照片！");
            return false;
        } else if (!CheckImgFormat($("#OrgCodeCard").val())) {
            alert("机构代码证照片格式不正确，只支持jpg、bmp、gif、png格式的图片！");
            return false;
        } else if ($("#BMFA").val() == "") {
            alert("编码方案不能为空");
            return false;
        } else if ($("#Category").val() == "") {
            alert("行业分类不能为空");
            return false;
        } else if ($("#Org_Code").val() == "") {
            //alert("机构编码不能为空");
            //alert("抱歉，遇到了异常，请尝试刷新后重新操作！");
            return false;
        } else if ($("#UserName").val() == "") {
            alert("用户名不能为空！");
            return false;
        } else if ($("#UserPwd").val() == "") {
            alert("用户密码不能为空！");
            return false;
        } else if ($("#UserRePwd").val() == "") {
            alert("请再次输入密码！");
            return false;
        } else if ($("#UserPwd").val() != $("#UserRePwd").val()) {
            alert("两次密码输入不一致！");
            return false;
        } else {
            if (existOrgName && existUserName) {
                return false;
            }
            return true;
        }

    }
    //图片格式验证
    function CheckImgFormat(name) {
        var imgFormat = name.substring(name.lastIndexOf(".")).toLowerCase();
        if (imgFormat == ".png" || imgFormat == ".jpg" || imgFormat == ".bmp" || imgFormat == ".gif") {
            return true;
        }
        return false;
    }
    //用户名是否存在
    var existUserName = true;
    //机构名称是否存在
    var existOrgName = true;
    //检查机构名称
    function ExistOrgName() {
        var orgName = $("#OrgName").val();

        if (orgName != "") {
            $.ajax({
                type: "post",
                url: "/Register/ExistOrgName",
                dataType: "text",
                data: { orgName: orgName },
                success: function (data) {
                    if (data == "True") {
                        existOrgName = false;
                    } else {
                        alert("机构名称已存在！");
                        $("#OrgName").focus();
                        existOrgName = true;
                    }
                },
                error: function () {
                    existOrgName = true;
                    alert("网络异常，请尝试重新操作！");
                }
            })
        } else {
            existOrgName = true;

        }
    }

    //检查用户名称
    function ExistUserName() {
        var userName = $("#UserName").val();
        if (userName != "") {
            $.ajax({
                type: "post",
                url: "/Register/ExistUserName",
                dataType: "text",
                data: {
                    userName: userName
                },
                success: function (data) {
                    if (data == "True") {
                        existUserName = false;
                    } else {
                        alert("用户名已存在！");
                        $("#userName").focus();
                        existUserName = true;

                    }
                },
                error: function () {
                    alert("网络异常，请尝试重新操作！");
                    existUserName = true;
                }
            })
        } else {
            existUserName = true;
        }
    }


    $(function () {
        $("#OrgName").blur(function () {
            ExistOrgName();
        });
        $("#UserName").blur(function () {
            ExistUserName();
        });

    });


    function GetAddressShi(obj) {

        document.getElementById("shengID").value = obj;
        if (obj != "*") {
            $.get("/Register/GetP?cid=" + obj, function (data, textStatus) {
                //alert("11");
                var sid = document.getElementById("City");
                $("#City").empty();
                sid.options[sid.options.length] = new Option("---请选择---", "*");
                $.each(data, function () {
                    sid.options[sid.options.length] = new Option(this["Province"], this["ID"]);
                });

            });
        }
    }
    function GetZIP(obj) {

        document.getElementById("ZIPID").value = obj;
        if (obj != "*") {
            $.get("/Register/GetZIP?cid=" + obj, function (data, textStatus) {
                //alert("11");

                $.each(data, function () {
                    document.getElementById("ZIPID").value = this["ZIP"];
                });

            });
        }
    }
    function Huoqubm(obj) {


        if (obj != "") {
            // alert(obj);
            $.get("/Register/GetBM?cid=" + obj, function (data, textStatus) {


                $.each(data, function () {

                    document.getElementById("qz").value = this["Prefix"];
                    document.getElementById("fgf").value = this["Separator"];
                });

            });
        }
    }
   
    function GetXian(obj) {
        document.getElementById("shiID").value = obj;
        if (obj != "*") {
            $.get("/Register/GetP?cid=" + obj, function (data, textStatus) {
                //alert("11");
                var sid = document.getElementById("District");
                $("#District").empty();
                sid.options[sid.options.length] = new Option("---请选择---", "*");
                $.each(data, function () {
                    sid.options[sid.options.length] = new Option(this["Province"], this["ID"]);
                });

            });
        }

    }

    function CheckClick() {
        return true;
        if (document.getElementById("OrgName").value == "") {
            document.getElementById("OrgName").focus();
            alert("请输入机构名称！");
            return false;
        }
        if (document.getElementById("Province").value == "*") {
            document.getElementById("Province").focus();
            alert("请选择省！");
            return false;
        }
        if (document.getElementById("City").value == "*") {
            document.getElementById("City").focus();
            alert("请选择市！");
            return false;
        }
        if (document.getElementById("District").value == "*") {
            document.getElementById("District").focus();
            alert("请选择区县！");
            return false;
        }
        if (document.getElementById("Address").value == "") {
            document.getElementById("Address").focus();
            alert("请填写地址信息！");
            return false;
        }
        if (document.getElementById("Contact").value == "") {
            document.getElementById("Contact").focus();
            alert("请填写联系人信息！");
            return false;
        }
        if (document.getElementById("Tel").value == "") {
            document.getElementById("Tel").focus();
            alert("请填写电话信息！");
            return false;
        }
        if (!isNumberOr_Letter(document.getElementById("Tel").value) && !isNull(document.getElementById("Tel").value)) {
            document.getElementById("Tel").focus();
            alert("您输入的电话格式不正确！");
            return false
        }
        if (document.getElementById("Email").value == "") {
            document.getElementById("Email").focus();
            alert("请填写Email地址信息！");
            return false;
        }
        if (!checkEmail(document.getElementById("Email").value) && !isNull(document.getElementById("E_mail_").value)) {
            document.getElementById("Email").focus();
            alert("您输入的Email地址格式不正确！");
            return false;

        }
       
        if (document.getElementById("Brand").value == "") {
            document.getElementById("Brand").focus();
            alert("请填写品牌信息！");
            return false;
        }
        if (document.getElementById("Category").value == "") {
            document.getElementById("Category").focus();
            alert("请选择行业分类！");
            return false;
        }
        
        return true;
    }

    function Shengcheng(obj) {
        $("#HangYeID").val(obj);
        if (document.getElementById("ZIPID").value == "") {
            alert("区县不能为空！");
            document.getElementById("District").focus();
            $("#Category").val("");

        } else {
            if (document.getElementById("qz").value == "") {
                alert("编码方案不能为空！");
                document.getElementById("BMFA").focus();
                $("#Category").val("");

            } else {
                document.getElementById("Org_Code").value = document.getElementById("qz").value + document.getElementById("fgf").value + obj + document.getElementById("fgf").value + document.getElementById("ZIPID").value + document.getElementById("fgf").value;
            }
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
