@model PagedList.IPagedList<LinqModel.Meta_Info>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <form id="form1" action="/ManageMeta_Info/Index" class="form-search" method="get">

            <div class="input-append">

               <input class="m-wrap" type="text" id="txtSearch" name="txtSearch" value="@ViewBag.txtSearch" placeholder="名称"><input class="btn green" type="submit" value="查询" />

            </div>
        </form>
        <div class="portlet box grey">

            <div class="portlet-title">

                <div class="caption"><i class="icon-globe"></i>追溯信息元管理</div>

                <div class="actions">

                    <a href="/ManageMeta_Info/Add" class="btn blue"><i class="icon-pencil"></i> 新增信息元</a>

                </div>

            </div>

            <div class="portlet-body">

                <table class="table  table-bordered table-hover table-full-width" id="sample_1">

                    <thead>

                        <tr>
                            <th width="10"></th>
                            <th>名称</th>

                            <th>描述</th>
                            <th class="hidden-480">是否必填</th>
                            <th class="hidden-480">是否公开</th>
                            @*<th class="hidden-480">是否检索点</th>*@
                            <th class="hidden-480">数据类型</th>

                            <th class="hidden-480">操作</th>
                        </tr>

                    </thead>

                    <tbody>

                        @{
                            int count = 0;
                            foreach (var m in Model)
                            {
                                count++;
                                string classname = "fafafb";
                                if (count % 2 == 0)
                                { classname = "ecf3fa"; }
                                <tr onclick="RowClick(@m.Info_ID)" id="@m.Info_ID" style="background-color: #@classname">
                                    <td id="ext_@m.Info_ID">+</td>
                                    <td>@m.Info_Name</td>

                                    <td>@m.Info_Description</td>
                                    <td class="hidden-480">@m.Required</td>
                                    <td class="hidden-480">@m.Public</td>
                                    @*<td class="hidden-480">@m.Search_Point</td>*@
                                    <td class="hidden-480">@m.Data_Type</td>

                                    <td class="hidden-480"><a href="/ManageMeta_Info/Update?id=@m.Info_ID">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:if(confirm('确定要删除么？')){window.location.href ='/ManageMeta_Info/Del?id=@m.Info_ID';} ">删除</a></td>
                                </tr>
                                <tr style="display:none; " id="detail_@m.Info_ID">
                                    <td colspan="10">
                                        <div style="margin-left:25px;">
                                            <span>是否必填：@m.Required</span><br />
                                            <span>是否公开：@m.Public</span><br />
                                            @*<span>是否检索点：@m.Search_Point</span><br />*@
                                            <span>数据类型：@m.Data_Type</span><br />
                                            <span><a href="/ManageMeta_Info/Update?id=@m.Info_ID">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:if(confirm('确定要删除么？')){window.location.href ='/ManageMeta_Info/Del?id=@m.Info_ID';}">删除</a></span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                当前第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，总共 @Model.PageCount 页

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, txtSearch = ViewBag.txtSearch }))

            </div>

        </div>

        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<script type="text/javascript">
    function RowClick(obj) {
        var m = document.getElementById("detail_" + obj);

        if (m.style.display == "none") {
            document.getElementById("ext_" + obj).innerHTML = "-";
            m.style.display = "";
        }
        else {
            document.getElementById("ext_" + obj).innerHTML = "+";
            m.style.display = "none";
        }
    }
</script>