@model LinqModel.RegisterCheck

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}


<script src="../../ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="../../ckfinder/ckfinder.js" type="text/javascript"></script>
<div>
    <h4>机构详细信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            机构名称：
        </dt>


        <dd>
            @Html.DisplayFor(model => model.OrgName)
        </dd>

        <dt>
            省份：
        </dt>

        <dd>
            @{ LinqModel.AdministrationRegion sheng = new DAL.Region().GetModel(Convert.ToInt32(Model.Province));}

            @sheng.Province
        </dd>

        <dt>
            市：
        </dt>

        <dd>
            @{ LinqModel.AdministrationRegion shi = new DAL.Region().GetModel(Convert.ToInt32(Model.City));}

            @shi.Province

        </dd>

        <dt>
            区县：
        </dt>

        <dd>
            @{ LinqModel.AdministrationRegion xian = new DAL.Region().GetModel(Convert.ToInt32(Model.District));}

            @xian.Province

        </dd>

        <dt>
            地址：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            联系人：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            电话：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            邮件：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



        <dt>
            上级机构：
        </dt>
        @{
            if (Model.Sup_Org == 0)
            {
                <dd>
                    无上级
                </dd>

            }
            else
            {
                LinqModel.Organization oo = new DAL.Organization().GetModel(Model.Sup_Org);

                <dd>
                    @oo.Name
                </dd>
            }


        }



        <dt>
            简介：
        </dt>

        <dd>
            <div class="display-field">@Html.Raw(Model.Intro)</div>
        </dd>

        <dt>
            品牌：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            LOGO图片：
        </dt>

        <dd>
            <img id="Cert" width="300" height="200" src="@Model.Cert" /><br>

        </dd>
        <dt>
            营业执照：
        </dt>

        <dd>
            <img id="Cert" width="300" height="200" src="@Model.BusiLice" /><br>

        </dd>
        <dt>
            机构代码证：
        </dt>

        <dd>
            <img id="Cert" width="300" height="200" src="@Model.OrgCodeCard" /><br>

        </dd>
        <dt>
            机构编码：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org_Code)
        </dd>
        <dt>
            用户名：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            申请时间：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            审核状态：
        </dt>

        <dd>
            @switch (Html.DisplayFor(model => model.CheckStatus).ToString())
            {
                case "0":
                    @:未审核
                    break;
                case "1":
                @:审核通过
                    break;
                case "2":
                @:审核中
                    break;
                default:
                @:审核失败
                    break;
            }
        </dd>
    </dl>
</div>
<form method="post" action="/RegisterCheck/Delete">
    <p>
        <input type="hidden" value="@Model.ID" name="ID" />
        <input type="submit" id="btnCheck" value="删除" onclick="return confirm('确定删除吗？');" class="btn btn-default" />  |
        @Html.ActionLink("返回列表", "Index")
    </p>

</form>
<script>
</script>