@model LinqModel.ComContent

@{
    ViewBag.Title = "详情";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}


<div>
    <h4>文章类别</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            机构名称：
        </dt>
        @{  LinqModel.Organization shangji = new DAL.Organization().GetModel(Convert.ToInt32(Model.Org_ID));

        <dd> @shangji.Name </dd>}
        <dt>
            文章标题：
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            文章内容：
        </dt>
        <dd>
            <div class="display-field">@Html.Raw(@Model.Contents)</div>
        </dd>
        <dt>
            所属栏目：
        </dt>
        @{
            LinqModel.ContCatogary ccc = new DAL.ContCatogary().GetModel(Convert.ToInt32(Model.CategoryID));
            <dd>
                @ccc.Name
            </dd>
        }
       
        <dt>
            是否审核：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessment)
        </dd>
        <dt>
            关键字：
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt>
            发布日期：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>






    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
