@model LinqModel.S_Tree

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

 

<div>
    <h4>S_Tree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            节点名称：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            上级ID：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentID)
        </dd>

        <dt>
            父路径：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPath)
        </dd>

        <dt>
            链接：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            备注：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            图片链接：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            权限ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.NodeID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
