@model LinqModel.Products

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

<script src="../../Scripts/swfobject.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.uploadify.v2.1.4.js" type="text/javascript"></script>
<link href="../../Content/uploadify.css" rel="stylesheet" type="text/css" />
<script src="../../Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>

<script src="jquery.form.js" type="text/javascript"></script>
<script language="javascript" src="../../Scripts/uploadPreview.js"></script>
<script src="../../ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="../../ckfinder/ckfinder.js" type="text/javascript"></script>

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN SAMPLE FORM PORTLET-->

        <div class="portlet box grey tabbable">

            <div class="portlet-title">

                <div class="caption">

                    <i class="icon-reorder"></i>

                    <span class="hidden-480">增加产品</span>

                </div>

            </div>

            <div class="portlet-body form">

                <div class="tabbable portlet-tabs">

                    <ul class="nav nav-tabs">

                        <li class="active"><a href="#portlet_tab1" data-toggle="tab">产品</a></li>

                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="portlet_tab1">

                            <!-- BEGIN FORM-->
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <form action="#" class="form-horizontal" name="zhuyemian">


                                    @Html.ValidationSummary(true)
                                    <div class="control-group">
                                        @Html.LabelFor(model => model.Org_ID, "机构名称：", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="controls">

                                            @{
                                if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 5 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 2)
                                {
                                    @Html.DropDownListFor(model => model.Org_ID, new DAL.Organization().GetDropdownlistItemWithOID((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Org_ID))

                                }
                                else if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 1)
                                {
                                    @Html.DropDownListFor(model => model.Org_ID, new DAL.Organization().GetDropdownlistItemwithid((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Org_ID))
                                }
                                            }
                                            @Html.ValidationMessage("Org_ID", new { @style = "color: #f70e0e;" })
                                        </div>
                                    </div>
                                    <div class="control-group">

                                        @Html.LabelFor(model => model.Name, "产品名称", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name)
                                            @Html.ValidationMessage("Name", new { @style = "color: #f70e0e;" })

                                        </div>

                                    </div>
                                    <div class="control-group">

                                        @Html.LabelFor(model => model.Abbr, "产品缩写", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Abbr)
                                            @Html.ValidationMessage("Abbr", new { @style = "color: #f70e0e;" })

                                        </div>

                                    </div>
                                    <div class="control-group">
                                        @Html.LabelFor(model => model.Prod_Category, "产品类别：", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="controls">
                                            <select id="subCategory" name="subCategory" onchange="GetChildren(this.value)">
                                                @{
                                var listSub = new DAL.Pro_Category().GetListSub();
                                if (listSub != null && listSub.Count > 0)
                                {
                                    foreach (var m in listSub)
                                    {
                                        <option value="@m.ID">@m.Description</option>
                                    }
                                }
                                                }
                                            </select>
                                            <select id="Prod_Category" name="Prod_Category">
                                                @{
                                var listChildren = new DAL.Pro_Category().GetListChildren(listSub.First().ID);
                                if (listChildren != null && listChildren.Count > 0)
                                {
                                    foreach (var m in listChildren)
                                    {
                                        <option value="@m.ID">@m.Description</option>
                                    }
                                }
                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="control-group hidden">
                                        @Html.LabelFor(model => model.Class, "产品等级", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            <input id="Class" name="Class" class="uneditable-input" value="0" />
                                        </div>
                                    </div>

                                    <div class="control-group hidden">
                                        @Html.LabelFor(model => model.Spec, "产品规格", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            <input id="Spec" name="Spec" class="uneditable-input" value="0" />

                                        </div>
                                    </div>

                                    <div class="control-group hidden">
                                        @Html.LabelFor(model => model.Unit, "产品单位", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            <input id="Unit" name="Unit" class="uneditable-input" value="0" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.LabelFor(model => model.material, "主副原料", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.material)

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.LabelFor(model => model.Company, "生产机构", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.Company, new DAL.Organization().GetDropdownlistItemWithOID((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Org_ID))
                                            @Html.ValidationMessage("Company", new { @style = "color: #f70e0e;" })


                                        </div>
                                    </div>

                                    <div class="control-group hidden">
                                        @Html.LabelFor(model => model.NET, "净重", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            <input id="NET" name="NET" class="uneditable-input hidden" readonly="readonly" value="0" />
                                        </div>
                                    </div>

                                    <div class="control-group hidden">
                                        @Html.LabelFor(model => model.Count, "数量或度量", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            <input id="Count" name="Count" class="uneditable-input hidden" readonly="readonly" value="0" />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.LabelFor(model => model.Description, "产品描述", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <textarea id="Description" name="Description"></textarea>

                                            <script type="text/javascript">
                                                var editor = CKEDITOR.replace('Description');
                                                CKFinder.SetupCKEditor(editor, '/ckfinder/');
                                                //window.onload = function () {
                                                //    var editor = CKEDITOR.replace('Intro');
                                                //    CKFinder.SetupCKEditor(editor, '/ckfinder/');

                                                //};
                                            </script>


                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @*@Html.LabelFor(model => model.Adv_Code, "宣传码", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-10">

                                            <input id="Adv_Code" name="Adv_Code" type="hidden" class="uneditable-input" value="自动生成" />
                                        </div>
                                    </div>
                                    <div class="control-group">

                                        <div class="col-md-10">

                                            <input id="CodeScheme" name="CodeScheme" type="hidden" class="uneditable-input hidden" value="0" />
                                        </div>
                                    </div>
                                    <div class="control-group">

                                        <div class="col-md-10">

                                            <input id="Max_SN" name="Max_SN" type="hidden" class="uneditable-input" value="0" />
                                        </div>
                                    </div>
                                    <div class="control-group">


                                        @Html.LabelFor(model => model.Photo, "产品图片：", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="controls">

                                            <img id="stuPic" width="300" height="200" /><br>

                                            <input type="text" class="m-wrap small" id="Photo" name="Photo" value="" />
                                            <input type="button" value=" 选择" onclick="BrowseServer('Photo');" /><input type="button" value=" 选择后预览 " onclick="    Yulan();" />

                                        </div>

                                    </div>

                                    <div class="control-group">


                                        @Html.LabelFor(model => model.EWMUrl, "产品宣传页面网址：", htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="controls">
                                            <input id="EWMUrl" name="EWMUrl" type="text" value="" />
                                            全地址以‘http://’或者‘https://’开头
                                        </div>

                                    </div>

                                    <div class="control-group">


                                        @Html.LabelFor(model => model.BuyUrl, "电商购买页面网址：", htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="controls">
                                            <input id="BuyUrl" name="BuyUrl" type="text" value="" />
                                            全地址以‘http://’或者‘https://’开头
                                        </div>

                                    </div>

                                    <div class="control-group">


                                        @Html.LabelFor(model => model.VideoUrl, "实时视频播放地址：", htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="controls">
                                            <input id="VideoUrl" name="VideoUrl" type="text" value="" />
                                            全地址以‘http://’或者‘https://’开头
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="保存" class="btn btn-default" onclick="return CheckClick();" />
                                        </div>
                                    </div>


                                </form>
                            }
                            <!-- END FORM-->

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- END SAMPLE FORM PORTLET-->

    </div>

</div>



<div>
    @Html.ActionLink("返回列表", "Index")
</div>
<script type="text/javascript">
    $(function () {
        //文件上传地址
        var url = 'http://localhost:8080/myfileupload/upload';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $('#fileupload').fileupload({
            autoUpload: true,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                $.each(data.result.files, function (index, file) {//
                    $('<p/>').text(file.name).appendTo('#files');
                });
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            }
        });
    });
    $(document).ready(function () {
        $("#uploadify").uploadify({
            'uploader': '/content/uploadify.swf',
            'script': '/ManageOrganizations/Upload',
            'cancelImg': '/content/cancel.png',
            'folder': 'UploadFile',
            'queueID': 'fileQueue',
            'auto': false,
            'multi': true,
            'onComplete': function (event, ID, fileObj, response, data) {

                $('#div_img').after("<img src=" + response + " alt='' height='100' width='100' />")
                $('#Cert').val(response)
            }
        });
        $("#uploadify").uploadifyClearQueue({
            'uploader': '/content/uploadify.swf',
            'script': '/ManageOrganizations/Upload',
            'cancelImg': '/content/cancel.png',
            'folder': 'UploadFile',
            'queueID': 'fileQueue',
            'auto': false,
            'multi': true,
            'onComplete': function (event, ID, fileObj, response, data) {

                $('#div_img').after("")
                $('#Cert').val("")
            }
        });
    });
    function GetAddressShi(obj) {

        document.getElementById("shengID").value = obj;
        if (obj != "*") {
            $.get("/ManageOrganizations/GetP?cid=" + obj, function (data, textStatus) {
                //alert("11");
                var sid = document.getElementById("City");
                $("#City").empty();
                sid.options[sid.options.length] = new Option("---请选择---", "*");
                $.each(data, function () {
                    sid.options[sid.options.length] = new Option(this["Province"], this["ID"]);
                });

                //$.get("/ManageUserPermissions/GetAllP?rid=" + BidCategory, function (data, textStatus) {
                //    $.each(data, function () {
                //        $("input[id='checkb_" + this['PermissionID'] + "']").attr("checked", true);
                //    });
                //});
            });
        }
    }
    function GetZIP(obj) {

        document.getElementById("ZIPID").value = obj;
        if (obj != "*") {
            $.get("/ManageOrganizations/GetZIP?cid=" + obj, function (data, textStatus) {
                //alert("11");

                $.each(data, function () {
                    document.getElementById("ZIPID").value = this["ZIP"];
                });
                //$.get("/ManageUserPermissions/GetAllP?rid=" + BidCategory, function (data, textStatus) {
                //    $.each(data, function () {
                //        $("input[id='checkb_" + this['PermissionID'] + "']").attr("checked", true);
                //    });
                //});
            });
        }
    }
    function Huoqubm(obj) {


        if (obj != "*") {
            $.get("/ManageOrganizations/GetBM?cid=" + obj, function (data, textStatus) {
                //alert("11");

                $.each(data, function () {
                    document.getElementById("qz").value = this["Prefix"];
                    document.getElementById("fgf").value = this["Separator"];
                });
                //$.get("/ManageUserPermissions/GetAllP?rid=" + BidCategory, function (data, textStatus) {
                //    $.each(data, function () {
                //        $("input[id='checkb_" + this['PermissionID'] + "']").attr("checked", true);
                //    });
                //});
            });
        }
    }
    function Shengcheng(obj) {

        document.getElementById("Org_Code").value = document.getElementById("qz").value + document.getElementById("fgf").value + obj + document.getElementById("fgf").value + document.getElementById("ZIPID").value + document.getElementById("fgf").value;
    }
    function GetXian(obj) {
        document.getElementById("shiID").value = obj;
        if (obj != "*") {
            $.get("/ManageOrganizations/GetP?cid=" + obj, function (data, textStatus) {
                //alert("11");
                var sid = document.getElementById("District");
                $("#District").empty();
                sid.options[sid.options.length] = new Option("---请选择---", "*");
                $.each(data, function () {
                    sid.options[sid.options.length] = new Option(this["Province"], this["ID"]);
                });
                //$.get("/ManageUserPermissions/GetAllP?rid=" + BidCategory, function (data, textStatus) {
                //    $.each(data, function () {
                //        $("input[id='checkb_" + this['PermissionID'] + "']").attr("checked", true);
                //    });
                //});
            });
        }

    }


    function CheckClick() {
        if (document.getElementById("Org_ID").value == "-1") {
            document.getElementById("Org_ID").focus();
            alert("请选择机构名称！");
            return false;
        }
        if (document.getElementById("Name").value == "") {
            document.getElementById("Name").focus();
            alert("请输入名称！");
            return false;
        }
        if (document.getElementById("Abbr").value == "") {
            document.getElementById("Abbr").focus();
            alert("请输入产品英文缩写！");
            return false;
        }
        if (document.getElementById("Company").value == "-1") {
            document.getElementById("Company").focus();
            alert("请选择生产机构！");
            return false;
        }
        if (document.getElementById("EWMUrl").value != "") {
            if (document.getElementById("EWMUrl").value.substring(0, 7) == "http://" || document.getElementById("EWMUrl").value.substring(0, 8) == "https://") {
            }
            else {
                document.getElementById("EWMUrl").focus();
                alert("产品宣传页面网址格式不正确！");
                return false;
            }
        }
        if (document.getElementById("BuyUrl").value != "") {
            if (document.getElementById("BuyUrl").value.substring(0, 7) == "http://" || document.getElementById("BuyUrl").value.substring(0, 8) == "https://") {
            }
            else {
                document.getElementById("BuyUrl").focus();
                alert("电商购买页面网址格式不正确！");
                return false;
            }
        }
        if (document.getElementById("VideoUrl").value != "") {
            if (document.getElementById("VideoUrl").value.substring(0, 7) == "http://" || document.getElementById("VideoUrl").value.substring(0, 8) == "https://") {
            }
            else {
                document.getElementById("VideoUrl").focus();
                alert("实时视频播放地址格式不正确！");
                return false;
            }
        }
        return true;
    }
    function BrowseServer(inputId) {
        var finder = new CKFinder();
        finder.basePath = '/ckfinder/'; //导入CKFinder的路径

        finder.selectActionFunction = SetFileField; //设置文件被选中时的函数
        finder.selectActionData = inputId; //接收地址的input ID
        finder.Width = 800;
        finder.Height = 600;
        finder.popup();


    }
    function Yulan() {
        $("#stuPic").attr("src", $("#Photo").val());
    }
    function SetFileField(fileUrl, data) {
        document.getElementById(data["selectActionData"]).value = fileUrl;
    }
    function GetChildren(obj) {
        $.get("/Public/GetChildren?subID=" + obj, function (data, textStatus) {
            var sid = document.getElementById("Prod_Category");
            $("#Prod_Category").empty();
            $.each(data, function () {
                sid.options[sid.options.length] = new Option(this["Description"], this["ID"]);
            });
        });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

