@model LinqModel.ORG_Photo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}



<script src="../../ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="../../ckfinder/ckfinder.js" type="text/javascript"></script>

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN SAMPLE FORM PORTLET-->

        <div class="portlet box grey tabbable">

            <div class="portlet-title">

                <div class="caption">

                    <i class="icon-reorder"></i>

                    <span class="hidden-480">企业展示图片增加</span>

                </div>

            </div>

            <div class="portlet-body form">

                <div class="tabbable portlet-tabs">

                    <ul class="nav nav-tabs">

                        <li class="active"><a href="#portlet_tab1" data-toggle="tab">定制图片</a></li>

                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="portlet_tab1">

                            <!-- BEGIN FORM-->
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <form action="#" class="form-horizontal">


                                    @Html.ValidationSummary(true)
                                    <div class="control-group">

                                        @Html.LabelFor(model => model.Org_ID, "机构名称：", htmlAttributes: new { @class = "control-label col-md-2" })


                                        <div class="controls">
                                            @{
                                if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 5 || (int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 2)
                                {
                                        @Html.DropDownListFor(model => model.Org_ID, new DAL.Organization().GetDropdownlistItemWithOID((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Org_ID))

                                }
                                else if ((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Role_ID == 1)
                                {
                                        @Html.DropDownListFor(model => model.Org_ID, new DAL.Organization().GetDropdownlistItemwithid((int)((Common.Argument.LoginInfo)Session[System.Configuration.ConfigurationManager.AppSettings["LoginSession"]]).user.Org_ID))
                                }
                                            }
                                            @Html.ValidationMessage("Org_ID", new { @style = "color: #f70e0e;" })

                                        </div>

                                    </div>
                                   
                                    <div class="control-group">


                                        @Html.LabelFor(model => model.Photo, "图片（展示图片265*200,背景图片1900*450)：", htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="controls">

                                            <img id="stuPic" width="300" height="200" /><br>

                                            <input type="text" class="m-wrap small" id="Photo" name="Photo" value="" />
                                            <input type="button" value=" 选择" onclick="BrowseServer('Photo');" /><input type="button" value=" 预览 " onclick="    Yulan();" />
                                            @Html.ValidationMessage("Photo", new { @style = "color: #f70e0e;" })
                                        </div>

                                    </div>
                                    <div class="control-group">

                                        @Html.LabelFor(model => model.Sque, "展示/背景", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                           
                                            <label class="radio ">
                                                <input id="Sque1" name="Sque" type="radio" value="1" />背景                                               
                                            </label>
                                            <label class="radio ">
                                                <input id="Sque2" name="Sque" type="radio" value="0" checked="checked" />展示图片
                                            </label>
                                        </div>

                                    </div>
                                    <div class="control-group">

                                        @Html.LabelFor(model => model.Remark, "描述", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            
                                            <textarea id="Remark" name="Remark"></textarea> 
                                        </div>
                                        @Html.ValidationMessage("Remark", new { @style = "color: #f70e0e;" })
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="保存" onclick="return CheckClick();"  class="btn btn-default" />
                                        </div>
                                    </div>


                                </form>
                            }
                            <!-- END FORM-->

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- END SAMPLE FORM PORTLET-->

    </div>

</div>



<div>
    @Html.ActionLink("返回列表", "Index")
</div>
<script type="text/javascript">
    function BrowseServer(inputId) {
        var finder = new CKFinder();
        finder.basePath = '/ckfinder/'; //导入CKFinder的路径 

        finder.selectActionFunction = SetFileField; //设置文件被选中时的函数 
        finder.selectActionData = inputId; //接收地址的input ID 
        
        finder.popup();


    }
    function Yulan() {
        $("#stuPic").attr("src", $("#Photo").val());
    }
    function SetFileField(fileUrl, data) {
        document.getElementById(data["selectActionData"]).value = fileUrl;
    }
    function CheckClick() {
        if (document.getElementById("CategoryName").value == "") {
            alert("请输入名称！");
            return false;
        }
        
        var chk_value = [];
        $('input[name="Sque"]:checked').each(function () {
            chk_value.push($(this).val());
        });
        if (chk_value==1)
        {
            var file = $('#Photo').value;
            if (!/.(gif|jpg|jpeg|png|gif|jpg|png)$/.test(file)) {
                alert("图片类型必须是.gif,jpeg,jpg,png中的一种")
                if (a == 1) {
                    return false;
                }
            } else {
                var image = new image();
                image.src = file;
                var height = image.height;
                var width = image.width;
                var filesize = image.filesize;
                $('beforeend').src = file;
                $('div_regi_right').setstyle('display', 'block');
                if (width != 1900 && height != 450) {
                    alert('请上传1900*80像素的图片');
                    if (a == 1) {
                        return false;
                    }
                }
                if (filesize > 1024000) {
                    alert('请上传大小小于1MB的图片');
                    if (a == 1) {
                        return false;
                    }
                }
                if (a == 1) {
                    return true;
                }
            }
        }
        

        return true;
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}