@model PagedList.IPagedList<LinqModel.View_Trace_Info>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "UpSepList";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
<a href="/ManageTrace_Info/Index">返回</a>
@*<a href="/ManageTrace_Info/List?orgFlowID=@ViewBag.orgFlowID&prodID=@ViewBag.prodID">返回</a>*@
<br /><br />
<form id="form1" action="/ManageTrace_Info/UpSepList" class="form-search" method="get">
    <div class="alert alert-error show">

        <button class="close" data-dismiss="alert"></button>

        <span>
            您现在处于【@ViewBag.prodName】产品的【@ViewBag.FlowNameCurrent】流程，请选择当前流程的上级【@ViewBag.supFlowName】流程的单据，然后录入当前流程追溯信息
        </span>

    </div>
    <div class="row-details">
        时间：<input type="text" style="width:80px;" id="timeS" name="timeS" value="@ViewBag.timeS" readonly="readonly" onclick="WdatePicker();" onfocus="WdatePicker()" />
        -
        <input type="text" style="width:80px;" id="timeE" name="timeE" value="@ViewBag.timeE" readonly="readonly" onclick="WdatePicker();" onfocus="WdatePicker()" />

        <input type="hidden" id="orgID" name="orgID" value="@ViewBag.orgID" />
        <input type="hidden" id="orgFlowID" name="orgFlowID" value="@ViewBag.orgFlowID" />
        <input type="hidden" id="prodID" name="prodID" value="@ViewBag.prodID" />
        <input type="hidden" id="supFlowID" name="supFlowID" value="@ViewBag.supFlowID" />

        单据编号：<input type="text" style="width:160px;" id="txtSearch" name="txtSearch" value="@ViewBag.txtSearch" />
        <input class="btn green" type="submit" value="查询" />
        <input class="btn blue" type="button" onclick="PaiMa('/ManageTrace_Info/UpSepList?timeS=@ViewBag.timeS&timeE=@ViewBag.timeE&orgID=@ViewBag.orgID&orgFlowID=@ViewBag.orgFlowID&prodID=@ViewBag.prodID&supFlowID=@ViewBag.supFlowID')" value="拍码查询" />

    </div>
</form>
<div class="row-details">
    @{
        if (Model.Count > 0)
        {
            foreach (var m in Model)
            {
                <table width="400">
                    <tr>
                        <th width="100"> 单据编号：</th>
                        <td>@m.Flow_Num</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">
                            <a href="/ManageTrace_Info/Add?orgFlowID=@ViewBag.orgFlowID&prodID=@ViewBag.prodID&traceIDUp=@m.Trace_ID">选择此信息录入 @ViewBag.FlowNameCurrent 信息</a>
                        </td>
                    </tr>
                    <tr>
                        <th>操作时间：</th>
                        <td>@m.Rec_Time.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <th>产品名称：</th>
                        <td>@m.Name</td>
                    </tr>
                    <tr>
                        <th>追溯流程：</th>
                        <td>
                            @m.Flow_Name
                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align:top;">追溯信息：</th>
                        <td>
                            @{
                if (m.Trace_Info_Value.Descendants("info").Count() > 0)
                {
                    foreach (var mt in m.Trace_Info_Value.Descendants("info"))
                    {
                            @*<label>@mt.Attribute("InfoName").Value：@mt.Attribute("InfoValue").Value</label>*@
                        if (mt.Attribute("InfoValue") != null)
                        {
                            <label><b>@mt.Attribute("InfoName").Value：</b>@mt.Attribute("InfoValue").Value</label><br />
                        }
                        else
                        {
                            <p>
                                <b> @mt.Attribute("InfoName").Value：</b>
                                @{
                            foreach (var mtt in mt.Descendants("value"))
                            {
                                <span>@mtt.Value ，</span>
                            }
                                }
                            </p>
                        }
                    }
                }
                            }

                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align:top;">操作图片：</th>
                        <td colspan="2">
                            @{
                if (m.Trace_Info_Value.Descendants("img").Count() > 0)
                {
                    foreach (var mt in m.Trace_Info_Value.Descendants("img"))
                    {
                        <img src="@mt.Attribute("InfoValue").Value" width="300" height="200" />
                    }
                }
                            }

                        </td>
                    </tr>
                </table>
                <hr />
            }
        }
        else if (ViewBag.search > 0)
        {
            <div class="alert alert-error show">

                <button class="close" data-dismiss="alert"></button>

                <span>未查到复合条件的上级流程单据，请确认单据编号正确无误！</span>
            </div>
        }
    }
</div>
<br />


  当前第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，总共 @Model.PageCount 页

@Html.PagedListPager(Model, page => Url.Action("UpSepList", new { page, sortOrder = ViewBag.CurrentSort, txtSearch = ViewBag.txtSearch, orgFlowID = ViewBag.orgFlowID, prodID = ViewBag.prodID, orgID = ViewBag.orgID, timeS = ViewBag.timeS, timeE = ViewBag.timeE }))
<script src="/Scripts/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">
    function PaiMa(obj) {
        this.location = "/Public/QrEwm?url=" + encodeURIComponent(obj);
    }
</script>