@model LinqModel.View_User_Permission

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

 

<h3>确认删除？</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PermissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
