@model LinqModel.ORG_BY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}

 

<h3>确认删除？</h3>
<div>
    <h4>权限类别</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            机构名称：
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Org_ID)
        </dd>
        <dt>
            标语内容：
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BYContent)
        </dd>
        <dt>
            LOGO：
        </dt>


        <dd>
            <img id="Photo" width="300" height="200" src="@Model.Logo" /><br>
        </dd>
        <dt>
            流程说明：
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LCSM)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
