@model PagedList.IPagedList<LinqModel.RuKu_PaiMa>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
<div class="row-fluid">
    <form id="form1" action="/ManageRuKu_PaiMa/Index" class="form-search" method="get">

        <div class="row-details">
            时间：<input type="text" style="width:80px;" id="timeS" name="timeS" value="@ViewBag.timeS" readonly="readonly" onclick="WdatePicker();" onfocus="WdatePicker()" />
            -
            <input type="text" style="width:80px;" id="timeE" name="timeE" value="@ViewBag.timeE" readonly="readonly" onclick="WdatePicker();" onfocus="WdatePicker()" />

            企业名称：<input type="text" style="width:160px;" id="txtSearch" name="txtSearch" value="@ViewBag.txtSearch" />
            <input class="btn green" type="submit" value="查询" />
        </div>
    </form>
    <div class="portlet box grey">

        <div class="portlet-title">

            <div class="caption"><i class="icon-globe"></i>拍码入库记录列表</div>

        </div>
        <div class="portlet-body">

            <table class="table  table-bordered table-hover table-full-width" id="sample_1">

                <thead>

                    <tr>
                        <th width="10"></th>
                        <th>企业名称</th>
                        <th>操作时间</th>
                        <th class="hidden-480">入库详细信息</th>
                    </tr>

                </thead>

                <tbody>

                    @{
                        int count = 0;
                        foreach (var m in Model)
                        {
                            count++;
                            string classname = "fafafb";
                            if (count % 2 == 0)
                            { classname = "ecf3fa"; }
                            <tr onclick="RowClick(@m.ID)" id="@m.ID" style="background-color: #@classname">
                                <td id="ext_@m.ID">+</td>
                                <td>@m.From_Org_Name</td>
                                <td>@m.TimeAdd.Value.ToString("yyyy-MM-dd")</td>
                                <th class="hidden-480"><a href="javascript:void(0);">点击查看</a></th>
                            </tr>
                            <tr style="display:none; " id="detail_@m.ID">
                                <td colspan="10">
                                    <div style="margin-left:25px;">
                                        <table>
                                            <tr>
                                                <th style="text-align:left;">产品名称：</th>
                                                <td>@m.From_Org_Name</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align:left;">投诉日期：</th>
                                                <td>@m.TimeAdd.Value.ToString("yyyy-MM-dd")</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align:left;">入库详细信息：</th>
                                                <td>
                                                    @{
                            if (m.Infos.Descendants("info").Count() > 0)
                            {
                                foreach (var mt in m.Infos.Descendants("info"))
                                {
                                    try
                                    {
                                        if (mt.Attribute("InfoName").Value == "EWM_Num")
                                        {
                                            @Html.Raw(mt.Attribute("InfoValue").Value.Replace("$", "<br/>"));
                                        }
                                        else if (mt.Attribute("InfoName").Value == "CodeStart")
                                        {
                                            if (!string.IsNullOrEmpty(mt.Attribute("InfoValue").Value))
                                            {
                                                @:起始码：
                                                        <br />
                                                        @mt.Attribute("InfoValue").Value
                                                        <br />
                                            }
                                        }
                                        else if (mt.Attribute("InfoName").Value == "CodeEnd")
                                        {
                                            if (!string.IsNullOrEmpty(mt.Attribute("InfoValue").Value))
                                            {
                                                @:结束码：
                                                        <br />
                                                        @mt.Attribute("InfoValue").Value
                                                        <br />
                                            }
                                        }
                                    }
                                    catch { }
                                }
                            }
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            当前第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，总共 @Model.PageCount 页，总共 @Model.TotalItemCount 条

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, txtSearch = ViewBag.txtSearch, timeS = ViewBag.timeS, timeE = ViewBag.timeE, products = ViewBag.prodC }))

        </div>
    </div>
</div>
<script src="/Scripts/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    function RowClick(obj) {
        var m = document.getElementById("detail_" + obj);

        if (m.style.display == "none") {
            document.getElementById("ext_" + obj).innerHTML = "-";
            m.style.display = "";
        }
        else {
            document.getElementById("ext_" + obj).innerHTML = "+";
            m.style.display = "none";
        }
    }
</script>

